<div class="row">
  <div class="col-md-12">
    <h3>Databinding </h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <p>InterPolation</p>
    <hr>
    <p>Mobile is {{mobile}}</p>
    <p>Name is {{nm.toUpperCase()}}</p>
    <p>Multiplication is {{ 78 * 95}}</p>
    <p>Object is {{ anNm }}</p>
  </div>
  <div class="col-md-4">
    <p>Property Binding</p>
    <hr>
    <p>
      <input type="{{typ}}" [value]="dt">
    </p>
    <p>
      <input [type]="typ" [style.border]="brd">
    </p>
  </div>
  <div class="col-md-4">
    <p [class.jumbotron]="false">Event Binding</p>
    <hr>
    <p>
      <input type="button" class="btn" value="Okay" (click)="onOkay()">
    </p>
  </div>
  <div class="col-md-4">
    <p>Two Way Binding</p>
    <hr>
    <p>
      <input type="text" placeholder="whatever" [(ngModel)]="anNm.nm">
    </p>
    <p>
      {{anNm.nm}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-cust-ip 
      [alTy]="nm" 
      [inf]="'welcome to codekul'" >
    </app-cust-ip>

  </div>
  <div class="col-md-6">
    <app-cust-op (whBtn)="nm = $event"></app-cust-op>
  </div>
</div>