<div class="row">
  <div class="col-md-12">
    <h5>Directives</h5>
  </div>
</div>
<div [ngClass]="{jumbotron : tgl, brd : !tgl}">
  <h1>We will make it jumbo</h1>
  <button class="btn" (click)="tgl = !tgl">Toggle</button>
</div>
<div class="row">
  <div class="col-md-12 alert" [ngStyle]="maSty">
    <h1>This is ngStyle</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <!-- <input type="text" custSmpl [wd]="'200px'"> -->
    <input 
      type="text" 
      [custSmpl]="{wd : '300px', brd : '1px solid blue'}" >
  </div>  
</div>

<div class="row" *ngIf="isUl">
  <div class="col-md-12">
    <ul >
      <li *ngFor="let lng of lngs"> {{lng}}</li>
    </ul>
  </div>
</div>

<ng-template [ngIf]="isUl">
  <div class="col-md-12">
    <ul >
      <li *ngFor="let lng of lngs"> {{lng}}</li>
    </ul>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-12">
    <input type="button" value="Okay" class="btn" (click)="isUl = !isUl">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 *cst="false">Hello</h1>
  </div>
</div>
   